fastapi
uvicorn
openai
pyttsx3
torch==2.1.0+cpu -f https://download.pytorch.org/whl/torch_stable.html
git+https://github.com/openai/whisper.git
numpy
scipy
python-multipart
pydantic
python-dotenv
PyMuPDF
httpx
firebase-admin
google-cloud-storage
markdown2
weasyprint==60.2
