fastapi
uvicorn
openai
pyttsx3
git+https://github.com/openai/whisper.git
#sounddevice
numpy
scipy
python-multipart
pydantic
python-dotenv
python-multipart
PyMuPDF
httpx
firebase-admin
google-cloud-storage
markdown2
weasyprint==60.2

