fastapi
uvicorn
openai
pyttsx3
numpy
scipy
python-multipart
git+https://github.com/openai/whisper.git
pydantic
python-dotenv
httpx
firebase-admin
google-cloud-storage
transformers
torch
ffmpeg-python
cloudinary
PyMuPDF