@tailwind base;
@tailwind components;
@tailwind utilities;


@keyframes pulseTimer {
  from { width: 100%; }
  to { width: 0%; }
}

.animate-pulseTimer {
  animation: pulseTimer 60s linear forwards;
}

/* Hide horizontal scrollbar for carousels */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none; 
  scrollbar-width: none;
}

